.developer {
  margin-top: 40px;
  border: 2px solid green;
}

.developer__item {
  font-size: 14px;
  line-height: 26px;
  margin: 0;
}

.developer__link {
  display: inline-block;
  width: 27px;
  height: 34px;
  margin-left: 10px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
