.feedback-form {
  padding-top: 58px;
}

.feedback-form__wrapper {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.feedback-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  outline: 2px solid green;
}

.feedback-form__fieldset--impression,
.feedback-form__fieldset--user-info {
  width: 480px;
  height: 365px;
}

.feedback-form__fieldset--contacts-info,
.feedback-form__fieldset--place,
.feedback-form__fieldset--emotions {
  width: 100%;
  text-align: center;
}

.feedback-form__fieldset--contacts-info {
  height: 210px;
}

.feedback-form__fieldset--place {
  height: 216px;
}

.feedback-form__fieldset--emotions {
  height: 240px;
}

.feedback-form__legend {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.feedback-form__text-input,
.feedback-form__phone-input,
.feedback-form__email-input {
  font: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.feedback-form__text-input::placeholder,
.feedback-form__phone-input::placeholder,
.feedback-form__email-input::placeholder {
  font: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.feedback-form__radio-label,
.feedback-form__checkbox-label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
}

.feedback-form__text-label,
.feedback-form__phone-label,
.feedback-form__email-label {
  line-height: 26px;
  color: #333333;
}

.feedback-form__submit {
  font-family: "PT Sans", "Arial", sans-serif;
  margin-top: 62px;
  vertical-align: top;
  width: 480px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  background-color: $base-color;
  padding-top: 15px;
  padding-right: 18px;
  padding-bottom: 17px;
  padding-left: 18px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.feedback-form__submit:hover {
  background-color: #669ec0;
}

.feedback-form__submit:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

@media (max-width: $desktop-width) {
  .feedback-form {
    padding-top: 74px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .feedback-form__wrapper {
    width: auto;
  }

  .feedback-form__fieldset--impression,
  .feedback-form__fieldset--user-info {
    width: 324px;
    height: 365px;
    flex-grow: 1;
  }

  .feedback-form__fieldset--contacts-info {
    height: 309px;
  }

  .feedback-form__fieldset--place {
    height: 305px;
  }

  .feedback-form__fieldset--emotions {
    height: 240px;
  }

  .feedback-form__submit {
    width: 323px;
  }
}

@media (max-width: $tablet-width) {
  .feedback-form {
    padding-top: 34px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .feedback-form__legend {
    font-size: 18px;
  }

  .feedback-form__fieldset--user-info {
    order: -2;
    height: 305px;
  }

  .feedback-form__fieldset--contacts-info {
    height: 287px;
    order: -1;
  }

  .feedback-form__fieldset--place {
    height: 409px;
  }

  .feedback-form__fieldset--impression {
    height: 289px;
  }

  .feedback-form__fieldset--emotions {
    height: 200px;
  }

  .feedback-form__submit {
    width: 280px;
    margin-top: 54px;
    margin-right: auto;
    margin-left: auto;
  }
}
