.full-screen {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.full-screen__image {
  fill: #ffffff;
}

@media (max-width: $tablet-width) {
  .full-screen {
    margin-top: 22px;
    margin-right: 23px;
  }

  .full-screen__image {
    fill: #5c6870;
  }

  .full-screen__image:hover {
    fill: #333333;
  }

  .full-screen__image:active {
    opacity: 0.3;
  }
}
