.gallery {
  padding-top: 70px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.gallery__link {
  display: block;
  line-height: 0;
}

.gallery__item {
  position: relative;
}

.gallery__text {
  position: absolute;
  z-index: 10;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: $desktop-width) {
  .gallery {
    padding-top: 67px;
    padding-right: 60px;
    padding-bottom: 33px;
    padding-left: 60px;
  }

  .gallery__item:nth-of-type(3) .gallery__text {
    background-color: #eaeaea;
  }

  .gallery__text {
    position: relative;
    background-color: #f2f2f2;
  }
}

@media (max-width: $tablet-width) {
  .gallery {
    padding-top: 28px;
    padding-right: 20px;
    padding-bottom: 17px;
    padding-left: 20px;
  }

  .gallery__item {
    padding-top: 23px;
  }

  .gallery__item:nth-of-type(3) .gallery__text {
    background-color: transparent;
  }

  .gallery__text {
    background-color: transparent;
    outline: 2px solid red;
  }
}
