.logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -95px;
  display: inline-block;
  line-height: 0;
  outline: 2px solid red;
}

@media (max-width: $desktop-width) {
  .logo {
    margin-left: -50px;
  }

  .logo__item {
    width: 102px;
    height: 83px;
  }
}

@media (max-width: $tablet-width) {
  .main-navigation--open ~ .logo {
    top: 224px;
  }
  .logo__item {
    width: 102px;
    height: 83px;
  }
}
