.main-navigation {
  position: relative;
}

.main-navigation__button {
  display: none;
}

.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.main-navigation__link {
  display: block;
  color: #000000;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  width: 240px;
}

.main-navigation__link[href]:hover {
  color: $base-color;
}

.main-navigation__link[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation__link--active {
  color: #766357;
}

.main-navigation__item--margin-right {
  margin-right: 20%;
}

@media (max-width: $desktop-width) {
  .main-navigation__link {
    width: 153px;
  }
}

@media (max-width: $tablet-width) {
  .main-navigation__button {
    position: absolute;
    right: 20px;
    top: -38px;
    width: 23px;
    height: 22px;
    background-color: transparent;
    border: none;
    padding: 0;
    display: block;
    z-index: 100;
  }

  .main-navigation--open .main-navigation__button {
    top: 18px;
  }

  .main-navigation__button::before,
  .main-navigation__button::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 23px;
    height: 4px;
    background-color: #81b3d2;
    box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
  }

  .main-navigation--open .main-navigation__button::before,
  .main-navigation--open .main-navigation__button::after {
    background-color: #ffffff;
    transform: rotate(45deg);
    top: 8px;
    box-shadow: none;
    width: 30px;
    left: -4px;
  }

  .main-navigation--open .main-navigation__button::after {
    transform: rotate(-45deg);
  }

  .main-navigation__button--hideout {
    display: none;
  }

  .main-navigation__list {
    padding: 0;
    display: none;
  }

  .main-navigation--open .main-navigation__list {
    display: block;
  }

  .main-navigation__link {
    background-color: $base-color;
    color: #ffffff;
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    height: 56px;
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .main-navigation__link[href]:hover {
    background-color: #669ec0;
  }

  .main-navigation__link[href]:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  .main-navigation__link--active {
    color: #766357;
  }

  .main-navigation__item--margin-right {
    margin-right: 0;
  }
}
