.page-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 28px;
  margin-left: auto;
  text-align: center;
  width: 450px;
}

.page-photo .page-title {
  font-size: 30px;
}

.page-feedback .page-title {
  font-size: 30px;
}

@media (max-width: $tablet-width) {
  .page-title {
    width: 260px;
    font-size: 18px;
    line-height: 26px;
   }
}
