.page-description {
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 0 auto;
}

.page-photo .page-description {
  width: 440px;
}

.page-feedback .page-description {
  width: 445px;
}

@media (max-width: $tablet-width) {
  .page-description {
    width: 260px;
    line-height: 26px;
   }
}

@media (max-width: $tablet-width) {
  .page-photo .page-description {
    width: 320px;
    padding-right: 23px;
    padding-left: 23px;
    line-height: 24px;
  }

  .page-feedback .page-description {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 24px;
  }
}
