.photo-info__caption {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.photo-info__author {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  color: #333333;
}

.photo-info__counter {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}
