.photo-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;
}

.photo-info__wrapper {
  max-width: 70%;
}

.photo-info__caption {
  color: #ffffff;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.photo-info__author {
  text-transform: none;
  color: #ffffff;
  line-height: 24px;
  margin: 0;
}

.photo-info__counter {
  line-height: 24px;
  color: #ffffff;
  margin-left: auto;
  margin-bottom: auto;
  margin-top: auto;
  width: 72px;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.photo-info__like {
  display: inline-block;
  vertical-align: top;
  fill: #ffffff;
  margin-right: 5px;
}

@media (max-width: $desktop-width) {
  .photo-info__caption {
    color: #000000;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
  }

  .photo-info__author {
    text-transform: none;
    color: #333333;
    line-height: 24px;
    margin: 0;
  }

  .photo-info__counter {
    line-height: 24px;
    color: #000000;
    font-weight: 700;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
  }

  .photo-info__like {
    fill: #a3a3a3;
  }
}

@media (max-width: $tablet-width) {
  .photo-info {
    flex-direction: column;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 11px;
    padding-left: 0;
  }

  .photo-info__counter {
    margin: 0;
    margin-top: 4px;
    padding-left: 0;
    background-position: 0 3px;
  }

  .photo-info__like {
    fill: #b2b2b2;
    margin-right: 10px;
  }
}
