.social-links {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 0;
}

.social-links__item {
  display: inline-block;
}

.social-links__item:not(:last-of-type) {
  margin-right: 2px;
}

.social-links__link {
  width: 46px;
  height: 48px;
  display: block;
  background-color: #98c1da;
}

.social-links__link:hover {
  background-color: #669ec0;
}

.social-links__link:active {
  background-color: #5496bd;
}

.social-links__link--twitter {
  background-image: url(../img/icon-twitter.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.social-links__link--facebook {
  background-image: url(../img/icon-facebook.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.social-links__link--youtube {
  background-image: url(../img/icon-youtube.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
