.social-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-links__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
}

.social-links__item:last-of-type {
  margin-right: 0;
}

.social-links__link {
  display: block;
  width: 46px;
  height: 48px;
  background-color: $base-color;
  text-decoration: none;
  color: #ffffff;
}

.social-links__link--twitter {
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.social-links__link--facebook {
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.social-links__link--youtube {
  background-image: url("../img/icon-youtube.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.social-links__link:hover {
  background-color: #669ec0;
}

.social-links__link:active {
  background-color: #5496bd;
}
