.video {
  margin-top: 72px;
}

.video__item {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 0 auto;
}

.video__controls {
  padding-left: 35px;
  position: absolute;
  bottom: 0;
  height: 93px;
  width: 100%;
  outline-offset: -3px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.video__length {
  height: 3px;
  width: 540px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  margin-right: 43px;
}

.video__scroller {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: -3px;
  left: 114px;
}

@media (max-width: $desktop-width) {
  .video {
    margin-top: 74px;
  }

  .video__item {
    width: 648px;
    margin: 0 auto;
  }

  .video__length {
    width: 389px;
  }
}

@media (max-width: $tablet-width) {
  .video {
    margin-top: 36px;
  }

  .video__item {
    width: 320px;
    height: 201px;
  }

  .video__controls {
    width: 280px;
    height: 111px;
    bottom: -66px;
    left: 20px;
    flex-direction: row;
    padding: 0;
    background-color: transparent;
    align-content: flex-start;
  }

  .video__controls::before {
    width: 100%;
    height: 66px;
    content: "";
    background-color: #f2f2f2;
    position: absolute;
    z-index: -100;
    bottom: 0;
  }

  .video__length {
    position: relative;
    width: 280px;
    height: 45px;
    order: -4;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .video__length::before {
    content: "";
    position: absolute;
    width: 236px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    top: 22px;
    left: 21px;
  }

  .video__scroller {
    top: 19px;
    left: 58px;
  }
}
