.developer {
  padding-top: 8px;
  padding-bottom: 8px;
}

.developer__item {
  margin: 0;
}

.developer__link {
  display: inline-block;
  vertical-align: middle;
  margin-left: 11px;
  width: 27px;
  height: 34px;
}

.developer__image:hover {
  fill: #81b3d2;
}

.developer__image:active {
  opacity: 0.3;
}

@media (max-width: $tablet-width) {
  .developer {
    margin-top: 33px;
  }
}
