.social-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-links__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
}

.social-links__item:last-of-type {
  margin-right: 0;
}

.social-links__link {
  display: block;
  width: 46px;
  height: 48px;
  background-color: $base-color;
  text-decoration: none;
  color: #ffffff;
  position: relative;
}

.social-links__link--twitter,
.social-links__link--facebook,
.social-links__link--youtube {
  fill: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.social-links__link--twitter:active,
.social-links__link--facebook:active,
.social-links__link--youtube:active {
  opacity: 0.3;
}

.social-links__link:hover {
  background-color: #669ec0;
}

.social-links__link:active {
  background-color: #5496bd;
}
